@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Overpass:wght@400;700&display=swap');

body,html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass;
}
.star-img{
    width: 18px;
    height: 18px;
}

.main-container {
    width: 350px;
    height: 360px;
    background-image: linear-gradient(-300deg,  #181f29, #1f2630);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.main-container-thanku {
    width: 350px;
    height: 360px;
    background-image: linear-gradient(-300deg,  #181f29, #1f2630);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}
.star-container {
    background-color: #2a2d32;
    width: 40px;
    height: 40px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 30px;
}
.container-point{
    background-color: #2a2d32;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 24px;
    cursor: pointer;
    color: hsl(217, 12%, 63%);
    font-size: 14px;
}
.question-text {
    color: white;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 18px;
}
.thank-you-text{
    color: white;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 14px;
}
.description-text{
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 22px;
    margin-bottom: 30px;
}
.thank-you-desc{
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 30px;
}
.point-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,20%);
    column-gap: 3px;
    margin-bottom: 10px;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(25, 97%, 53%);
    padding: 12px;
    font-weight: 400;
    border-radius: 40px;
    cursor: pointer;
}

.submit-btn:hover{
    color: hsl(25, 97%, 53%);
    background-color: white;
}
.container-point:hover{
   background-color: hsl(25, 97%, 53%);
   color: white;
}
.thank-you{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thank-you{
    margin-top: 20px;
    margin-bottom: 25px;
}
.rating-container{
    display: flex ;
    width: 170px;
    justify-content: center;
    align-items: center;
    background-color: #2a2d32;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
   margin-bottom: 30px;

}
.rating-text{
    color: hsl(25, 97%, 53%);
    font-size: small;
}

@media (max-width:500px) {
    .main-container {
        width: 280px;
        height: 310px;
        padding: 20px;
        border-radius: 15px;
    }
    .main-container-thanku {
        width: 280px;
        height: 310px;
        padding: 20px;
        border-radius: 15px;
    }
    .star-img{
        width: 12px;
        height: 12px;
    }
    .star-container {
        background-color: #2a2d32;
        width: 20px;
        height: 34px;
    }
    .point-container{
       margin-bottom: -4px;    
    }
    .description-text{
        color: hsl(217, 12%, 63%);
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .question-text {
        color: white;
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 17px;
    }
    .thank-you{
        width: 100px;
        height: 100px;
    }
    .thank-you-desc{
        color: hsl(217, 12%, 63%);
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        line-height: 22px;
        margin-bottom: 30px;
    }
    .submit-btn:hover{
        color: hsl(25, 97%, 53%);
        background-color: white;
    }
    .container-point:hover{
       background-color: hsl(25, 97%, 53%);
       color: white;
    }
}